<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise tracker - express.js, node.js, mongoose.js & mongodb</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
   <body>
      <header class="header">
        <div class="header__container">
            <h1 class="header__container__title">API Project:<span class="header__container__title--strong">Exercise Tracker</span></h1>
        </div>
      </header>
      <section>
        <div class="section__container">
            <h2 class="section__container__title">User Stories</h2>
            <ol class="section__container__stories">
              <li>I can create a user by posting form data username to <code>/api/exercise/new-user</code> and returned will be an object with <code>username</code> and <code>_id</code>.</li>
              <li>I can get an array of all users by getting <code>/api/exercise/users</code> with the same info as when creating a user.</li>
              <li>I can add an exercise to any user by posting form data <code>userId(_id)</code>, <code>description</code>, <code>duration</code>, and optionally <code>date</code> to <code>/api/exercise/add</code>. If no date supplied it will use current date. App will return the user object with the exercise fields added.</li>
              <li>I can retrieve a full exercise log of any user by getting <code>/api/exercise/log</code> with a parameter of <code>userId(_id)</code>. App will return the user object with added array log and count (total exercise count).</li>
              <li>I can retrieve part of the log of any user by also passing along optional parameters of <code>from</code> & <code>to</code> or <code>limit</code>. (Date format yyyy-mm-dd, limit = int)</li>
            </ol>
        </div>
      </section>
      <section>
        <h2>Create new user</h2>
        <form action="/api/exercise/new-user" method="POST">
          <input type="text" name="username" placeholder="username">
          <button>Submit</button>
        </form>
      </section>
      <section>
        <h2>Get all users</h2>
        <a href="/api/exercise/users" target="_blank">All users</a>
      </section>
      <section>
        <h2>Add exercise</h2>
        <form action="/api/exercise/add" method="POST">
          <input type="text" name="userId" placeholder="userId*" required>
          <input type="text" name="description" placeholder="description*" required>
          <input type="number" name="duration" placeholder="duration* (mins)" required>
          <input type="date" name="date" placeholder="date (yyyy-mm-dd)">
          <button>Submit</button>
        </form>
      </section>
      <section>
        <h2>Get user exercise log</h2>
        <a href="/api/exercise/log?userId=5f96df7c8e0d372f2491a890" target="_blank">Example</a><br />
        <a href="/api/exercise/log?userId=5f96df7c8e0d372f2491a890&from=2020-10-01&to=2020-10-26" target="_blank">Example with from/to</a><br />
        <a href="/api/exercise/log?userId=5f96df7c8e0d372f2491a890&from=2020-10-01&to=2020-10-26&limit=3" target="_blank">Example with from/to and limit of 3</a>
      </section>
   </body>
</html>